{
  "jetstream": {
  },
  "lame_duck_duration": "30s",
  "lame_duck_grace_period": "1s",  # can't be "0s" as that defaults to "10s" (likely a golang issue)
  "port": 4222,

  "accounts": {
          "$SYS": {
            "users": [
              {
                "nkey": "UBHB22XQ33V6QG54KI3JLX2SCFZKC6RRCYWKN27KRSY5HTXX7SBWMCQT"  # SUAADIRYNEC5GYOESIVTE36ME7BX5UCRK5SYNMFFNNWYOEIZGGDMOIT7VE
              }
            ]
          }
        },
  authorization {
      default_permissions = {
          "publish": [
              ">"
            ],
            "subscribe": [
              ">"
            ]
        },
     "users": [
       {
         "nkey": "UDXU4RCSJNZOIQHZNWXHXORDPRTGNJAHAHFRGZNEEJCPQTT2M7NLCNF4",  # nkey from docs
         "permissions": {
           "subscribe": [
             "_INBOX_client.>",
             "rpc_call"
           ],
           "publish": ["foo"],
           "allow_responses": true,
         }
       }, {
         "permissions": {
           "publish": [">"],
           "subscribe": [">"]
         },
         "user": "defaultUser"
       },
     ],
  },
  "no_auth_user": "defaultUser"
}
